/*
color reference
black ish: #0f1626
maroon ish: #b7531b
grayish color: #cdc9c9
*/


/* setting the body to gradient color */
body {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* set all font-family to roboto */
* {
  font-family:'Roboto', sans-serif;
}

/* -------------- animation class ---------- */
/* set initial of each element to be clear
  for scrolling element
 */
.fade{
  opacity:0;
}


/* --------- front page --------------- */
.front-page{
  margin: 0 auto;
  padding:0 20px;
  max-width: 680px;
}


/*
  set the intro and the location to be
  all upper case
*/
.introPre, #location{
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 100%;
}


#specialKeyword{
  color: #b7531b;
  font-weight:bold;
  text-transform: uppercase;
}


/* when using something less than an Ipad tablet */
@media (min-width: 640px){
  /* two different typed of rendering but just leave it as it is */
  /*.intro-main {
    font-size: 2.2rem;
    max-width:80%;
    line-height:1.2;
    font-weight:bold;
    margin: 10px 0 20px;
  }*/

  header.intro-container.fade{
    padding:200px 0 30px;
  }

}


/* ----------- footer ------------- */
#emailHover{
  display:inline-block;
  width:24px ;
  height:29px ;
  background:url("../image/email-outline.svg") no-repeat ;
}

/*
  hover for each image on footer
  so that it will be show the new
  image when hover
*/
#emailHover:hover{
  background:url("../image/email-outline.png") no-repeat ;
  width:24px;
  height:29px;
  background-color: #0f1626;
  border: 1px solid #cdc9c9:
}

#githubHover{
  display:inline-block;
  width:24px ;
   height:29px ;
   background:url("../image/github-circle.svg") no-repeat ;
}

#githubHover:hover{
  background:url("../image/github-circle.png") no-repeat ;
  width:24px;
  height:29px;
  /*border-radius:100%;*/
  background-color: #0f1626;
  border: 1px solid #cdc9c9:
}
#linkedInHover{
  display:inline-block;
  width:24px ;
  height:29px ;
  background:url("../image/linkedin.svg") no-repeat ;
}

#linkedInHover:hover{
  background:url("../image/linkedin.png") no-repeat ;
  width:24px;
  height:29px;
  background-color: #0f1626;
  border: 1px solid #cdc9c9:
}

.footer-links{
  width:50%;
  margin:auto;
  text-align: center;
}

.copyright{
  text-align: center;
}
footer small {
  font-size:20px;
}
