/* iPads, and desktop (portrait and landscape) ----------- */
@media only screen and (min-width : 768px){
/* Styles */
/* menu item */
.pure-menu-item{
  width:70px;
}

.pure-menu-item a {
  padding:0;
}

.pure-menu-item:first-child{
  width:40px;
  padding-right:20px
}

.about{
  border-bottom:1px solid #cdc9c9;
  height:100vh;
}

.header-section{
  height:1%;
  text-align: center;
  margin-bottom:40px
}

.bottom-border h4{
  font-size: 2em;
}

.bottom-border{
  border-bottom:3px solid #0f1626;
  height: 50px;
  width:60%;
}

.showcase-item{
  height:100%;
  width: 20%;
  margin-top: 2% auto;
  display: inline-block;
}

  

  .showcase{
    height:30%;
    width:70%;
  }

  .intro-image {
    height:125px;
    width:125px;
    border-radius:100%
  }
  .showcaselist-image{
    height:120px;
    width:120px;
    border-radius:100%
    box-shadow: 0 0 2px 0.5px #787878;
    background-color: #fafafa;
  }

  .description-item{
    height:50%;
    width:70%;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 1px;
    margin:10px auto 60px 30px;
  }

  #introduction {
    max-width:400px;
  }

  .introduction-showcase{
    margin-left:20%;
  }

  .title{
    text-align: left;
    margin:0 auto;
    padding-left:6px;
    border-left:4px solid #b7531b;
    border-bottom:none;
    width:auto;
  }

  .content{
    margin:2% auto;
  }
  td{
    width:50%;
  }
  /* -------- Project ----------- */

  .project{
    border-bottom:2px solid #cdc9c9;
    height:100vh;
  }


  /* ------------------- Contact ------------- */
  .form h4{
    font-size:20px;
    margin:5% auto;

  }

  /*
    making the width the same as the
    name and email by making 50%
  */
  .pure-form .message{
    /*width:639.5px;*/
    width:50%;
    margin: auto;
  }

  .message .pure-input-1-2{
    width:100%;
    height:200px;
  }

  .form .name-email input{
    width:100%;

  }

  .contact{
    border-bottom: 2px solid #cdc9c9;
    height:100vh;
  }

  .submit-button{
    width:71.95px;
    /*width:100%;*/
    margin:auto;
    background-color: white;
  }
}
