body {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.front-page{
  margin: 0 auto;
  padding:0 20px;
  max-width: 680px;


}

.main-page{
  border-bottom:2px solid #cdc9c9;
}

.intro-container{
  padding:200px 0 30px;
}

.introPre, #location{
  text-transform: uppercase;
  letter-spacing: 4px;
}


@media (min-width: 640px)
.introMain {
  font-size: 2.2rem;
  max-width:60%;
  line-height:1.2;
  font-weight:bold;
  margin: 10px 0 20px;
}

/*.header-section, .intro{
  text-align: center;
  line-height:1.2;
}*/
.about-container, .contact, .project {
  max-width:860px;
  margin:0 auto;
  padding: 0 20px;
  line-height:1.2;
  position: relative;
}

/* introduction of yourself */
.intro {
  margin:0 auto;
  display:inline;
  margin-top: 40px;
  max-width:680px;
}
/* intro */

/* so that the distance between the img and the text will not be too long */
.intro-wrapper{
  width:73%;
  margin:0 auto;
}


.intro-image img {
  display:inline-block;
  vertical-align: middle;
  border-radius: 100%;
  height:125px;
  margin: 22px 60px 0;
  float:left;
  max-width: 125px;
}
.intro-paragraph p {
  margin-left:50px;
  vertical-align: middle;
  position:relative;
  display:inline-block;
  width: 65%;
  letter-spacing: 0.4px;
  font-size: 20px;
  line-height: 1.4;
}

.intro-image{
  display:inline;
}

.intro-paragraph{
  width:60%;
  display:inline;
}
/* showcase */
.showcase h3 {
  /*position:fixed;*/
  display:inline-block;
  max-width:20%;
  margin:10px 0 0 11.4%;

}
/* industry */
/*.industry h3 {*/
  /*margin-top:0px;
  margin-bottom:0;*/

/* ----------------------- about page education and industry ------------- */
.table-content{
  letter-spacing: 1px;
  line-height: 1.2;
  margin-left:20px;
  color:#0f1926;
}
th{
  text-align: left;
  text-transform: uppercase;
  font-weight: 500px;
}
thead .table-title{
  text-align:left;
  margin:0;
}
.showcase-list{
    max-width: 71%;
    margin:0 auto;
}

/*.showcase-item{
  max-width:80%;
  margin:0 auto;
}*/
.show-image{
  height:125px;
  width:125px;
  margin-top:30px;
  /*text-align: center;*/
  vertical-align:middle;
  /*display:inline-block;*/
}

.show-image img{
  border-radius: 100%;
  height:150px;
  width:150px;
}

.showcase {
  max-width: 90%;
  /*margin:0 70px;*/

}

#tableEducation, #tableIndustry{
  /*display:inline-block;*/
  margin-left:40px;
  /*vertical-align: middle;*/
}

.key{
  padding:0;
}

.value{
  padding-left:50px;
}
.value p{
  margin:0;
}

.title{
  padding:0;
}
.title p{
  margin:0;
  color: #787878;
  font-weight: 400px;
}

.year{
  font-size: 13px;
  color: #8b8682;
}


/* ------- try something out ------ */
.outer {
  width:72%;
  margin:0 auto;
}

.inner {
  margin:0 0 50px;
}



/* ----------------------------------------------------------------------- */
/* for the grid layour for dls */

/*.value {
  margin:0;
  width:30%;
  /*border:0;*/
  /*vertical-align: baseline;*/
  /*box-sizing: border-box;*/
  /*right:0;*/
/*}*/
/*.pure-g{
  letter-spacing: 0;
}*/

/*dl {*/
  /*margin:10px;*/
/*}*/


/*@media(min-width:1000px)*/


/*.title{
  width:60%;
  display:inline;
  padding-left:100px;
  letter-spacing: 3px;
  vertical-align: top;
  margin-bottom:0;
}
.value{
  display:inline;
  letter-spacing:1px;
  vertical-align: top;
}*/


/* header h4 section "Welcome" for the about page */
.header-section h4 {
  text-transform: uppercase;
  line-height:2;
  display:inline;
  font-size: 2em;
  letter-spacing: 4px;
  text-decoration: none;

}
/* underline the header */
.bottom-border {
  max-width: 100px;
  margin:0 auto;
  padding-right:70px;
  border-bottom:3px solid #0f1926;
}

.bottom-botder,.special {
padding-right:100px;
}

/* header section for all of the pages */
.header-section {
  text-align:center;
}






.contact {
  text-align: center;
}


/* all the section that separate the page */
section{
  height:100vh; /* set it to the entire page */
  /*border-top: 0.5px solid rgba(0,4,96,0.2);*/
  /*border-bottom:2px solid #cdc9c9;*/
  /*margin:auto;*/
}
